<form href="/game/add" method="POST">
    <label>Name</label><input type="text" name="name"><br>
    <input hidden type="number" value="{{ platform_id }}" name="platform_id">
    {%  for f in features %}
        <label>{{ f.name }}</label><input type="text" name="value;{{ f.id }}"><br>
    {% endfor %}
    <button type="submit">Save</button>
</form>